.sc-chat{position:fixed;width:100%;height:100%;margin:0;padding:0;overflow:hidden;border:1px solid #ccc;border-radius:12px 12px 0 0;}

.sc-body{width:100%;margin:0;padding:0 15px;border:0;}
.sc-header,
.sc-body,
.sc-footer{position:absolute;left:0;right:0;overflow:hidden;}
.sc-header{height:43px;top:0;box-shadow:0 4px 24px -9px rgba(0,0,0,0.75);z-index:99;}
.sc-footer{height:55px;bottom:0;box-shadow:0 -4px 24px -9px rgba(0,0,0,0.75);z-index:98;}
.sc-body{top:43px;bottom:55px;overflow-y:auto;}

.sc-send{color:#fff;border-color:#2e6da4;padding:6px 2.5rem;}
.sc-send:hover,
.sc-send:focus,
.sc-send:active{color:#fff;}
.sc-send,
.sc-attach{cursor:pointer;}

.sc-message{margin:18px 0;}
.sc-bubble{margin:12px 0;}
.sc-bubble+.sc-bubble{margin-top:0;}
.sc-bubble-content{display:inline-block;padding:15px 20px;border-radius:24px;box-shadow:0px 4px 12px -3px rgba(0,0,0,0.5);max-width:75%;}
.sc-message.outgoing .sc-bubble-content{background:#7fb2de;border-top-left-radius:0;}
.sc-message.incoming,
.sc-message.incoming .sc-bubble{text-align:right;}
.sc-message.incoming .sc-bubble-content{background:#d2e6f7;border-top-right-radius:0;}

.sc-bubble-content{word-wrap:break-word!important;}

.sc-source-name{position:absolute;font-size:1rem;}
.sc-message.incoming .sc-source-name{text-align:right!important;}
.sc-message.outgoing .sc-source-name{text-align:left!important;}
.sc-message.incoming+.sc-message.incoming,
.sc-message.outgoing+.sc-message.outgoing{margin-top:-9px;}
.sc-message.incoming+.sc-message.incoming .sc-source-name,
.sc-message.outgoing+.sc-message.outgoing .sc-source-name,
.sc-message.incoming *+* .sc-source-name,
.sc-message.outgoing *+* .sc-source-name{display:none;}
.sc-message.incoming .sc-source-name{margin:-1.35rem 0 0 0;padding:0 15px;width:100%;left:0;}
.sc-message.outgoing .sc-source-name{margin:-1.35rem 0 0 0;padding:0 15px;width:100%;left:0;}
.sc-timestamp{position:absolute;font-size:1rem;color:rgba(0,0,0,0.5);}

.sc-select{text-align:center;}
.sc-select>.btn{display:inline-block;margin:5px;}

.sc-markdown .sc-bubble-content>*:last-child{margin-bottom:0!important;}

.sc-image img{max-width:100%;}

.sc-close{float:right;line-height:23px;cursor:pointer;}

.sc-message.incoming.Server{text-align:center;}
.sc-message.incoming.Server .sc-bubble{width:100%;border-radius:4px;}
.sc-message.incoming.Server .sc-bubble-name{display:none;}

.sc-message.incoming.Server.debug .sc-bubble{background:#dff0d8;}
.sc-message.incoming.Server.warn .sc-bubble{background:#fcf8e3;}
.sc-message.incoming.Server.error .sc-bubble{background:#f2dede;}